@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 1.5rem;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.nav-container {
  min-height: 5.98rem;
  background-color: #fff;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.nav-container > h1 {
  color: #0290ff;
}

.list {
  list-style: none;
  justify-content: space-around;
  width: 15%;
  padding: 0.8rem;
}

.books {
  width: 25%;
}

.main-book-wrapper {
  border: solid 1px #e8e8e8;
  background-color: #fff;
  width: 75rem;
  min-height: 10.625rem;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
}

.book-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.progress {
  margin-left: 16rem;
}

.progress-circle {
  width: 4.25rem;
  height: 4.25rem;
  border: 6px solid #0290ff;
  border-left: 6px solid #e8e8e8;
  border-radius: 50%;
  rotate: 30deg;
}

.booklist {
  flex-direction: column;
  gap: 0.938rem;
}

.remove-button,
.btn {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  background: none;
  font-weight: 300;
  font-size: 0.87rem;
  border-top: none;
  border-bottom: none;
  padding-inline: 0.8rem;
}

.btn {
  border: none;
}

.form {
  margin-top: 1rem;
  width: 100%;
}

.icon {
  margin-left: 55%;
  border: solid 1px #e8e8e8;
  width: 2rem;
  height: 2rem;
  padding: 4px;
  border-radius: 50%;
  color: #0290ff;
}

.link {
  text-decoration: none;
  color: black;
}

.category {
  font-size: 0.8rem;
  color: #8a8a8a;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  width: 3rem;
}

.book-title {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: 800;
}

.book-author {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 0.87rem;
  font-weight: 300;
}
